<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbar-collapse" >
        <ul class="nav navbar-nav " >
          <li ><a href="./index.html" title="">Invitation</a></li>
          <li ><a href="./about.html" title="">Venue</a></li>
          <li ><a href="./contact.html" title="">Blessings</a></li>
          <li ><a href="./components.html" title="">Gallery</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
</body>
</html>