<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Wedding Invitation</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse" >
        <ul class="nav navbar-nav " >
          <li ><a href="./index.html" title="">Invitation</a></li>
          <li ><a href="./about.html" title="">Venue</a></li>
          <li ><a href="./contact.html" title="">Wishes</a></li>
        </ul>
      </div> 
    </div>
  </nav>
</header>
<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/space.jpg');background-size: cover">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h3>Dear Friends,</h3>
              <h3>  It’s my pleasure to invite you with your family on the occasion of my sister’s wedding on 22-November-2020(Sunday).
                Your presence will really make this day more memorable to my family and me.
                Kindly consider this as a personal invitation. And, make plans to attend the wedding ceremony.
                  <br>Please grace the occasion with your presence and blessings.</h3>
              <br><br>
              <h2>Save the Date,<br>
                <span id="typed-strings">
                  <span>22nd November 2020 (Sunday)</span>
                </span>
                <span id="typed"></span>

              </h2>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>


<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>